@font-face{
    font-family: 'windsor';
    src: url('./assets/windsorbq-bold.otf');
}
*{
    font-family: 'windsor'
}

.title{
    display: block;
}

.h1{
    text-align: center;
    margin: 0 auto;
}