@font-face{
    font-family: 'windsor';
    src: url('./assets/windsorbq-bold.otf');
}
*{
    font-family: 'windsor'
}

body{
    background-color: #e6d6c1;
}

h1, h2{
    text-align: center;
    margin: 0 auto;
}

.title{
    display: block;
}

.hero-img{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/Draft_5.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
